/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --back-color: #FFF1F7; /* цвет основного фона */
  --basic-color: #FFC2E6; /* базовый цвет*/
  --back-image: url(../images/cover-image-light.png); /* картинка фона */
  --font-family: 'IBM Plex mono', monospace; /* базовый формат для текста*/
  --font-size: 18px; /* размер шрифта*/
  --line-height: 130%; /* интерльяж*/
  --border-color-hover: rgba(50, 49, 45, 0.4); /* цвет обвотки при навидении*/
  --header-title-color: #FFC2E6; /* цвет для заголовка*/
  --subtitle-color: #353430; /* цвет для подзаголовков и вначале параграфа*/
  --text-color: #353430; /* цвет для текста*/
  --link-color: #353430; /* цвет ссылки*/
  --corner-color: #353430; /* цвет уголков*/
  --color-shadow: #FF8DCB; /* цвет тени у заголовка*/
  --color-subtitle-back: #FF8DCB; /* цвет фона подзаголовка*/
  --color-shadow-link: #FF8DCB; /* цвет тени у ссылки*/
}

.page.theme_light .header__elemet-unimportant {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
  --back-color: #FFF1F7; /* цвет основного фона */
  --basic-color: #FFC2E6; /* базовый цвет*/
  --back-image: url(../images/cover-image-light.png); /* картинка фона */
  --font-family: 'IBM Plex mono', monospace; /* базовый формат для текста*/
  --font-size: 18px; /* размер шрифта*/
  --line-height: 130%; /* интерльяж*/
  --border-color-hover: rgba(50, 49, 45, 0.4); /* цвет обвотки при навидении*/
  --header-title-color: #FFC2E6; /* цвет для заголовка*/
  --subtitle-color: #353430; /* цвет для подзаголовков и вначале параграфа*/
  --text-color: #353430; /* цвет для текста*/
  --link-color: #353430; /* цвет ссылки*/
  --corner-color: #353430; /* цвет уголков*/
  --color-shadow: #FF8DCB; /* цвет тени у заголовка*/
  --color-subtitle-back: #FF8DCB; /* цвет фона подзаголовка*/
  --color-shadow-link: #FF8DCB; /* цвет тени у ссылки*/
  }
  .header__elemet-unimportant {
    visibility: hidden;
  }
}
