/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --back-color: #000028; /* цвет основного фона */
  --back-image: url(../images/cover-image-dark.png); /* картинка фона */
  --basic-color: #ff0070; /* базовый цвет*/
  --font-family: "IBM Plex mono", monospace; /* базовый формат для текста*/
  --font-size: 18px; /* размер шрифта*/
  --line-height: 130%; /* интерльяж*/
  --text-color: #ff0070; /* цвет для текста*/
  --link-color: #f1b2ce; /* цвет ссылки*/
  --border-color-hover: rgb(255 0 112/ 0.4); /* цвет обвотки при навидении*/
  --header-title-color: #db00ff; /* цвет для заголовка*/
  --subtitle-color: #000028; /* цвет для подзаголовков и вначале параграфа*/
  --corner-color: #ff0070; /* цвет уголков*/
  --color-shadow: #ff0070; /* цвет тени у заголовка*/
  --color-subtitle-back: #ff0070; /* цвет фона подзаголовка*/
  --color-shadow-link: #ff0070; /* цвет тени у ссылки*/
}